html {
    background: #F6CEF5;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F6CEF5 !important;
}

.txtelegantshadow {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 100px;
    color: red;
    text-align: center;
    padding: 5rem 0;
    letter-spacing: .15em;
    text-shadow: 1px -1px 0 #FE706D, -1px 2px 1px #FE7B79, -2px 4px 1px #FD8482, -3px 6px 1px #FD8D8B, -4px 8px 1px #FC9795, -5px 10px 1px #FCA09E, -6px 12px 1px #FCAAA9, -7px 14px 1px #FCB3B1, -8px 16px 1px #FCBBBA, -9px 18px 1px #FDC4C3, -10px 20px 1px #FDCBCA, -11px 22px 1px #FDD3D2, -12px 24px 1px #FCDAD9, -13px 26px 1px #FCE2E1;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    align-content: center;
    justify-content: center;
    /*background: #F6CEF5;
    background-blend-mode: multiply;
    background-size: cover;*/
    overflow: hidden;
}

.bubbles-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    max-width: 15rem;
    transform: translateX(-50%);
    opacity: 0.75;
}

.bubbles {
    width: 100%;
    height: auto;
}

    .bubbles circle {
        stroke: #44BDFA;
        fill: none;
    }

    .bubbles > g > g:nth-of-type(3n) circle {
        stroke: #87f5fb;
    }

    .bubbles > g > g:nth-of-type(4n) circle {
        stroke: #7AE9C6;
    }

.bubbles-large {
    overflow: visible;
}

    .bubbles-large > g {
        transform: translateY(2048px);
        opacity: 0;
        will-change: transform, opacity;
    }

    .bubbles-large g:nth-of-type(1) {
        animation: up 7s infinite;
    }

        .bubbles-large g:nth-of-type(1) g {
            transform: translateX(350px);
        }

        .bubbles-large g:nth-of-type(1) circle {
            animation: wobble 3s infinite ease-in-out;
        }

    .bubbles-large g:nth-of-type(2) {
        animation: up 5.25s 250ms infinite;
    }

        .bubbles-large g:nth-of-type(2) g {
            transform: translateX(450px);
        }

        .bubbles-large g:nth-of-type(2) circle {
            animation: wobble 3s infinite ease-in-out;
        }

    .bubbles-large g:nth-of-type(3) {
        animation: up 6s 750ms infinite;
    }

        .bubbles-large g:nth-of-type(3) g {
            transform: translateX(700px);
        }

        .bubbles-large g:nth-of-type(3) circle {
            animation: wobble 3s infinite ease-in-out;
        }

    .bubbles-large g:nth-of-type(4) {
        animation: up 5.5s 1.5s infinite;
    }

        .bubbles-large g:nth-of-type(4) g {
            transform: translateX(500px);
        }

        .bubbles-large g:nth-of-type(4) circle {
            animation: wobble 3s infinite ease-in-out;
        }

    .bubbles-large g:nth-of-type(5) {
        animation: up 6.5s 4s infinite;
    }

        .bubbles-large g:nth-of-type(5) g {
            transform: translateX(675px);
        }

        .bubbles-large g:nth-of-type(5) circle {
            animation: wobble 3s infinite ease-in-out;
        }

.bubbles-small {
    overflow: visible;
}

    .bubbles-small > g {
        transform: translateY(2048px);
        opacity: 0;
        will-change: transform, opacity;
    }

    .bubbles-small g circle {
        transform: scale(0);
    }

    .bubbles-small g:nth-of-type(1) {
        animation: up 5.25s infinite;
    }

        .bubbles-small g:nth-of-type(1) g {
            transform: translateX(350px);
        }

        .bubbles-small g:nth-of-type(1) circle {
            animation: wobble 3s infinite ease-in-out;
        }

    .bubbles-small g:nth-of-type(2) {
        animation: up 5.75s infinite;
    }

        .bubbles-small g:nth-of-type(2) g {
            transform: translateX(750px);
        }

        .bubbles-small g:nth-of-type(2) circle {
            animation: wobble 3s infinite ease-in-out;
        }

    .bubbles-small g:nth-of-type(3) {
        animation: up 5.25s 250ms infinite;
    }

        .bubbles-small g:nth-of-type(3) g {
            transform: translateX(350px);
        }

        .bubbles-small g:nth-of-type(3) circle {
            animation: wobble 3s 250ms infinite ease-in-out;
        }

    .bubbles-small g:nth-of-type(4) {
        animation: up 5.75s 325ms infinite;
    }

        .bubbles-small g:nth-of-type(4) g {
            transform: translateX(180px);
        }

        .bubbles-small g:nth-of-type(4) circle {
            animation: wobble 3s 325ms infinite ease-in-out;
        }

    .bubbles-small g:nth-of-type(5) {
        animation: up 6s 125ms infinite;
    }

        .bubbles-small g:nth-of-type(5) g {
            transform: translateX(350px);
        }

        .bubbles-small g:nth-of-type(5) circle {
            animation: wobble 3s 250ms infinite ease-in-out;
        }

    .bubbles-small g:nth-of-type(6) {
        animation: up 5.13s 250ms infinite;
    }

        .bubbles-small g:nth-of-type(6) g {
            transform: translateX(650px);
        }

        .bubbles-small g:nth-of-type(6) circle {
            animation: wobble 3s 125ms infinite ease-in-out;
        }

    .bubbles-small g:nth-of-type(7) {
        animation: up 6.25s 350ms infinite;
    }

        .bubbles-small g:nth-of-type(7) g {
            transform: translateX(480px);
        }

        .bubbles-small g:nth-of-type(7) circle {
            animation: wobble 3s 325ms infinite ease-in-out;
        }

    .bubbles-small g:nth-of-type(8) {
        animation: up 7s 200ms infinite;
    }

        .bubbles-small g:nth-of-type(8) g {
            transform: translateX(330px);
        }

        .bubbles-small g:nth-of-type(8) circle {
            animation: wobble 3s 325ms infinite ease-in-out;
        }

    .bubbles-small g:nth-of-type(9) {
        animation: up 6.25s 233ms infinite;
    }

        .bubbles-small g:nth-of-type(9) g {
            transform: translateX(230px);
        }

        .bubbles-small g:nth-of-type(9) circle {
            animation: wobble 3s 275ms infinite ease-in-out;
        }

    .bubbles-small g:nth-of-type(10) {
        animation: up 6s 900ms infinite;
    }

        .bubbles-small g:nth-of-type(10) g {
            transform: translateX(730px);
        }

        .bubbles-small g:nth-of-type(10) circle {
            animation: wobble 2s 905ms infinite ease-in-out;
        }

@keyframes wobble {
    33% {
        transform: translateX(-50px);
    }

    66% {
        transform: translateX(50px);
    }
}

@keyframes up {
    0% {
        opacity: 0;
    }

    10%, 90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-1024px);
    }
}

#headline {
    font-family: monospace;
}


/*button {
    font-family: monospace;
    border: 2px solid tomato;
    background: transparent;
    width: 250px;
    font-size: 1.2em;
    padding: 10px 0;
    border-radius: 5px;
    display: block;
    cursor: pointer;
    margin: 1em auto;
    color: red;
}*/

article {
    width: 100%;
    margin: auto;
    font-size: 4em;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

/* Hiệu ứng pháo hoa*/

.pyro > .before, .pyro > .after {
    position: absolute;
    width: 7px;
    height: 7px;
    pointer-events: none;
    z-index: 99999999;
    border-radius: 50%;
    box-shadow: -120px -218.66667px blue, 248px -16.66667px #00ff84, 190px 16.33333px #002bff, -113px -308.66667px #ff009d, -109px -287.66667px #ffb300, -50px -313.66667px #ff006e, 226px -31.66667px #ff4000, 180px -351.66667px #ff00d0, -12px -338.66667px #00f6ff, 220px -388.66667px #99ff00, -69px -27.66667px #ff0400, -111px -339.66667px #6200ff, 155px -237.66667px #00ddff, -152px -380.66667px #00ffd0, -50px -37.66667px #00ffdd, -95px -175.66667px #a6ff00, -88px 10.33333px #0d00ff, 112px -309.66667px #005eff, 69px -415.66667px #ff00a6, 168px -100.66667px #ff004c, -244px 24.33333px #ff6600, 97px -325.66667px #ff0066, -211px -182.66667px #00ffa2, 236px -126.66667px #b700ff, 140px -196.66667px #9000ff, 125px -175.66667px #00bbff, 118px -381.66667px #ff002f, 144px -111.66667px #ffae00, 36px -78.66667px #f600ff, -63px -196.66667px #c800ff, -218px -227.66667px #d4ff00, -134px -377.66667px #ea00ff, -36px -412.66667px #ff00d4, 209px -106.66667px #00fff2, 91px -278.66667px #000dff, -22px -191.66667px #9dff00, 139px -392.66667px #a6ff00, 56px -2.66667px #0099ff, -156px -276.66667px #ea00ff, -163px -233.66667px #00fffb, -238px -346.66667px #00ff73, 62px -363.66667px #0088ff, 244px -170.66667px #0062ff, 224px -142.66667px #b300ff, 141px -208.66667px #9000ff, 211px -285.66667px #ff6600, 181px -128.66667px #1e00ff, 90px -123.66667px #c800ff, 189px 70.33333px #00ffc8, -18px -383.66667px #00ff33, 100px -6.66667px #ff008c;
    -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    -o-animation-delay: 1.25s, 1.25s, 1.25s;
    -ms-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -moz-animation-duration: 1.25s, 1.25s, 6.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
    -o-animation-duration: 1.25s, 1.25s, 6.25s;
    -ms-animation-duration: 1.25s, 1.25s, 6.25s;
    animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
    from {
        box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
    }
}

@-moz-keyframes bang {
    from {
        box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
    }
}

@-o-keyframes bang {
    from {
        box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
    }
}

@-ms-keyframes bang {
    from {
        box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
    }
}

@keyframes bang {
    from {
        box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
    }
}

@-webkit-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}

@-moz-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}

@-o-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}

@-ms-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}

@keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}

@-webkit-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }

    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }

    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }

    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }

    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

@-moz-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }

    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }

    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }

    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }

    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

@-o-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }

    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }

    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }

    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }

    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

@-ms-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }

    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }

    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }

    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }

    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

@keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }

    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }

    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }

    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }

    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}


/*@import url(https://fonts.googleapis.com/css?family=Khula:700);

.hidden {
    opacity: 0;
}

.console-container {
    font-family: Khula;
    font-size: 4em;
    text-align: center;
    height: 200px;
    width: 600px;
    display: block;
    position: absolute;
    color: #25059A;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.console-underscore {
    display: inline-block;
    position: relative;
    top: -0.14em;
    left: 10px;
}*/

